<section class="full-height projects-slider">
    <h2>Projects</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <% projects.forEach(project => { %>
                <div class="swiper-slide">
                    <div class="project-card">
                        <h2><%= project.name %></h2>
                        <p><%= project.description %></p>
                        <picture>
                            <source srcset="<%= project.imgWebp %>" type="image/webp">
                            <source srcset="<%= project.img %>">
                            <img src="<%= project.img %>" alt="<%= project.name %> image" class="project-image">
                        </picture>
                        <a href="<%= project.url || ('/' + project.pageUrl) %>">View Project</a>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
